.container,.row,.col-lg-10{
  height: 100vh;
}
.card-body{
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

login-heading {
 font-weight: 300;
}

.card-img-left {
  width: 45%;
  background-size: cover;
  background-position: center;
}

.login-image{
  background-image: url("../../assets/images/welcome.jpg");
}
.signup-image{
  background-image: url('https://pbs.twimg.com/media/EyZEaYDXIAA05Kk.jpg');
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.d-flex{
  flex-direction: column;
}

.alert{
  position: fixed;
  right: 5px;
  top: 70px;
}
