<div *ngIf="alertShow" class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Oops!</strong> {{alertMessage}}
  <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close" (click)="alertClose($event)"><i class="bi bi-x"></i></button>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-10 col-xl-9 mx-auto d-flex justify-content-center">
      <div class="card flex-row border-0 shadow rounded-3 overflow-hidden">
        <div class="card-img-left d-none d-md-flex signup-image"></div>
        <div class="card-body p-4 p-sm-5">
          <h3 class="login-heading mb-4">Nice to meet you, Traveller!</h3>

          <div class="form-floating mb-3">
            <div class="input-group has-validation"></div>
            <input [(ngModel)]="name" type="email" class="form-control  {{invalidNameClass}}" id="floatingInput" placeholder="Login" required>
            <div *ngIf="!nameValid" class="invalid-feedback">Something`s wrong here</div>
            <label for="floatingInput">Login</label>
          </div>
          <div class="form-floating mb-3">
            <input [(ngModel)]="password" type="password" class="form-control {{invalidPasswordClass}}" id="floatingPassword" placeholder="Password" required>
            <div *ngIf="!passwordValid" class="invalid-feedback">Something`s wrong here</div>
            <label for="floatingPassword">Password</label>
          </div>
          <div class="form-floating mb-3">
            <input [(ngModel)]="confirm" type="password" class="form-control {{invalidConfirmClass}}" id="floatingPassword1" placeholder="Password" required>
            <div *ngIf="!confirmValid" class="invalid-feedback">Doesn`t match password!</div>
            <label for="floatingPassword1">Confirm password</label>
          </div>

          <div class="d-grid">
            <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit" (click)="signup()">Sign up</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
